# Next.js Image Configuration
REMOTION_LAMBDA_S3_HOSTNAME=remotionlambda-eunorth1-835ln9mr0e.s3.eu-north-1.amazonaws.com
SHORTS_S3_HOSTNAME=shorts-zhukovvlad.s3.eu-north-1.amazonaws.com

# Add other environment variables here