# Next.js Image Configuration
REMOTION_LAMBDA_S3_HOSTNAME=remotionlambda-eunorth1-835ln9mr0e.s3.eu-north-1.amazonaws.com
SHORTS_S3_HOSTNAME=shorts-zhukovvlad.s3.eu-north-1.amazonaws.com

# Credits per pricing tier (optional, defaults are set in code)
# CREDITS_STARTER=2
# CREDITS_PRO=50
# CREDITS_ENTERPRISE=100

# OpenAI API Key (required for DALL-E image generation)
OPENAI_API_KEY=sk-your-openai-api-key-here

# Add other environment variables here
